.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0; /* 마진 대신 패딩과 테두리 사용 */
}

.list li:last-child {
  border-bottom: none;
}