
fieldset {
    border: 1px solid #ccc;
    padding: 1em;
    max-width: 300px;
  }

  legend {
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  label {
    display: block;
    margin-bottom: 0.5em;
    cursor: pointer;
  }

  input[type="checkbox"] {
    margin-right: 0.5em;
  }