/* required 속성이 있는 모든 input */
input[required] {
  border-left: 3px solid #e74c3c;
  background-color: #fff5f5;
}

/* title 속성이 있는 a */
a[title] {
  text-decoration: underline dotted;
}

/* disabled 속성이 있는 버튼 */
button[disabled] {
  opacity: 0.5;
}