/* 짝수 번째 요소 (2, 4, 6...) */
li:nth-child(even) {
  background-color: #77baff;
  color: white;
}

/* 홀수 번째 요소 (1, 3, 5...) */
li:nth-child(odd) {
  background-color: #ffaaaa;
}

/* 3번째 요소 */
li:nth-child(3) {
  background-color: #b8ffa4;
}
