.layout {
    width: 600px;
    display: flex;
    gap: 12px;
  }

  .fixed {
    flex-grow: 0;
    flex-basis: 200px;
    padding: 14px;
    border-radius: 14px;
    border: 1px solid #ddd;
    background: rgba(231, 76, 60, 0.14);
    font-weight: 900;
    text-align: center;
  }

  .flexible {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 14px;
    border-radius: 14px;
    border: 1px solid #ddd;
    background: rgba(52, 152, 219, 0.14);
    font-weight: 900;
    text-align: center;
  }