/* 첫 번째 자식 */
.list li:first-child {
  font-weight: bold;
  color: #3498db;
}

/* 마지막 자식 */
.list li:last-child {
  border-bottom: none;
  color: #ff64aa;
}

/* 모든 li에 하단 테두리 */
.list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}