button {
  padding: 10px 20px;
  border: none;
  background-color: #3498db;
  color: white;
}

.btn-block {
  display: block;
  width: 100%; /* 전체 너비 */
  margin-bottom: 10px;
}

.btn-inline {
  display: inline;
  /* width 지정 불가 */
  /* 콘텐츠 크기만큼 */
}

.btn-inline-block {
  display: inline-block;
  width: 200px; /* 크기 지정 가능 */
  margin: 0 5px;
}