.container {
  position: relative; /* ✓ 기준점 */
  width: 300px;
  height: 300px;
  border: 2px solid #ddd;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 또는 */
  /* margin: auto;
     inset: 0; */
}