 .layout {
    width: 800px;
    display: flex;
    gap: 12px;
  }

  .sidebar {
    width: 250px; /* 고정 크기  */
    padding: 14px;
    border-radius: 14px;
    border: 1px solid #ddd;
    background: rgba(231, 76, 60, 0.14);
    font-weight: 900;
    text-align: center;
  }

  .main {
    flex: 1; /* 남은 공간 모두 차지 */
    padding: 14px;
    border-radius: 14px;
    border: 1px solid #ddd;
    background: rgba(52, 152, 219, 0.14);
    font-weight: 900;
    text-align: center;
  }