.parent {
  color: magenta; /* 상속됨 */
  border: 1px solid green; /* 상속 안 됨 */
  padding: 12px;
}

.child {
  color: unset; /* inherit처럼 → 부모의 blue */
  border: unset; /* initial처럼 → 초기값(테두리 없음) */
  padding: 12px;
}