.image-wrapper {
  position: relative; /* ✓ 기준점 */
  display: inline-block;
  width: 300px;
  height: 200px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0; /* top, right, bottom, left 모두 0 */
  /* = top: 0; right: 0; bottom: 0; left: 0; */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-wrapper:hover .overlay {
  opacity: 1;
}